# Assets
Assets/Logos

# git
.git

# Large Votes Data
Dev/large.votes
*.sqlite

# composer
vendor
composer.lock
*.phar

# phpunit
.phpunit.result.cache

# coverage & others
build
*.clover

# phpstorm
.idea