*.sqlite
*.clover

# composer
/vendor/
/composer.lock

# phpunit, phpstan
.phpunit.result.cache
phpstan.neon

# infection
Dev/infection_logs/

# coverage & others
build/
*.phar
Dev/large.votes

# IDE
*.idea
*.code-workspace
.vscode
