/doc                export-ignore
/exemples           export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/condorcet-logo.psd export-ignore
/condorcet-logo.jpg export-ignore
