*.sqlite
*.clover

# composer
/vendor/
/composer.lock

# phpunit, phpstan
.phpunit.result.cache
phpstan.neon
.phpunit.cache/test-results

# infection
Dev/infection_logs/

# coverage & others
build/
*.phar
Dev/large.votes
test.php

# IDE
*.idea
*.code-workspace
.vscode

# Sys
.DS_Store
