* text=auto eol=lf

/Dev                        export-ignore
/Documentation              export-ignore
/Examples                   export-ignore
/Tests                      export-ignore
/.gitattributes             export-ignore
/.gitignore                 export-ignore
/.travis.yml                export-ignore
/phpunit.xml                export-ignore
/phpunit.xml.dist           export-ignore
/condorcet-logo.psd         export-ignore
/condorcet-logo.jpg         export-ignore
/update-documentation.php   export-ignore
