{
    "source": {
        "directories": [
            "lib"
        ]
    },
    "mutators": {
        "@default": true,
        "ProtectedVisibility": {
            "ignore": ["*"]
        }
    },
    "logs": {
        "text": "Dev/infection_logs/infection.log",
        "summary": "Dev/infection_logs/summary.log",
        "json": "Dev/infection_logs/infection-log.json",
        "perMutator": "Dev/infection_logs/per-mutator.md",
        "badge": {
            "branch": "/^release-.*$/"
        }
    }
}