parameters:
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Class .* has an uninitialized readonly property \$.* Assign it in the constructor.#'
        - '#Access to an uninitialized readonly property#'
        - '#Variable \$.* might not be defined.#'
        - '#Unsafe access to private constant .* through static#'
        - '#Readonly property .* is assigned outside of the constructor.#'
        - '#has parameter .* with no value type specified in iterable type array#'
        - '#Readonly property .*\$CandidatesParsedFromVotes is already assigned.#'