parameters:
    level: 5
    paths:
        - src

    ignoreErrors:
        - identifier: unset.possiblyHookedProperty
        - '#Class .* has an uninitialized readonly property \$.* Assign it in the constructor.#'
        - '#Access to an uninitialized readonly property#'
        - '#Variable \$.* might not be defined.#'
        - '#Readonly property .* is assigned outside of the constructor.#'
        - '#Exception::\$message has no type specified.#'