<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="vendor/autoload.php" executionOrder="default" resolveDependencies="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache" requireCoverageMetadata="false">
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="PHPUnit tests">
      <directory>./Tests</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>large</group>
    </exclude>
  </groups>
</phpunit>
