name: Execute All Tests
on: [push, pull_request]

jobs:
  run:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        php-versions: ['8.4', '8.5']
        php-extensions:
          - ':xdebug, pdo, pdo_sqlite, mbstring, json'
          - ':xdebug, :pdo, mbstring, json, tokenizer' # without pdo (external handler)
        php-jit:
          - "opcache.enable_cli=1, opcache.jit=off"
          - "opcache.enable_cli=1, opcache.jit=tracing, opcache.jit_buffer_size=256M"
          # - "opcache.enable_cli=1, opcache.jit=function, opcache.jit_buffer_size=256M"
        composer-stability:
          - "--prefer-stable"
          - "--prefer-lowest --prefer-stable"
        exclude:
          - operating-system: windows-latest
            composer-stability: "--prefer-lowest --prefer-stable"
          - operating-system: macos-latest
            composer-stability: "--prefer-lowest --prefer-stable"
      fail-fast: false

    name: PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }} with ${{ matrix.php-extensions }} and JIT ${{ matrix.php-jit }} and ${{ matrix.composer-stability }} - Execute All Tests Without coverage

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: ${{ matrix.php-extensions }}
        ini-values: ${{ matrix.php-jit }}

    - name: Check PHP Version
      run: php -v

    - name: Check PHP extensions
      run: php -r "print_r(get_loaded_extensions());"

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer update ${{ matrix.composer-stability }} --prefer-dist --no-progress --ignore-platform-reqs

    - name: Run test suite
      run: ${{ contains(matrix.composer-stability, 'prefer-lowest') && 'vendor/bin/pest --do-not-fail-on-deprecation' || 'composer run-script test' }}
